<section class="vh-100" style="background-color: #D9D9D9;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10" >
          <div class="card" >
            <div class="row g-0" style="border-radius: 27px; background-color: #005A87;">
              <div class="col-md-6 col-lg-5 d-flex align-items-center" style="border-radius: 27px; background-color: white;   ">
                <img src="/assets/3.png" 
                alt="login form" class="img-fluid"  />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center" >
                <div class="card-body p-4 p-lg-5 text-white" >
                  <div class="register-form" >
                  <form >
  
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;text-align: center;">Password Forgotten ?</h5>
                    <div class="form-outline mb-4">
                       <label> Enter your email </label> 
                        <input  type="email" formControlName="email"  class="form-control form-control-lg" style="border-radius: 15px;
                        " />                        
                      </div>
                      <div class="pt-1 mb-4">
                        <button class="btn text-white btn-lg " type="submit" style="background-color: #A0A0A0; border-radius: 15px; margin-right: 50px;margin-left: 50px;">
                          Reset Password 
                        </button>     
                         <button class="btn text-white btn-lg " type="submit" style="background-color: #A0A0A0; margin-right: 0px;border-radius: 15px;">
                         Annuler 
                         </button>              
                     </div>
    
  
                    <div class="form-outline mb-4">
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>
          </div></div></div></div> 

</section>